.carusel-Brend {
  width: 100% !important;
  margin: auto !important;
  background: #F4F6F8;
  padding-top: 23px;
}
.actual_Brend {
  margin: auto;
  width: 1280px;
  height: 471px;
  background: #F4F6F8;
  margin-bottom: 60px;
}
.carusel-Boxs2 {
   width: 100% !important;
   margin: auto !important; 
}
.logo-boxs {
  height: 284px !important;
  margin: auto !important;
  background: rgba(244, 246, 248, 1);


}

.line-logo1 {
  padding-top: 55px;
  margin-bottom: 26px;
  display: flex !important;
  justify-content: space-between; !important;
  align-items: center !important;
  width: 1118px !important;
  
}

.line-logo2 {
  width: 1118px !important;
  display: flex !important;
  justify-content: space-between; !important;
  align-items: center !important;
}
.logotype {

}
.brend_Heading {
  margin-top: 35px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
 }
 
  

 
.more_Product_Brend {
  background: #F4F6F8;
  height: 112px;
    /* padding-left: 43px; */
  align-items: center;
  display: flex;
  width: 100%;
  margin: auto;
}

.text_more_productBrend {
     width: 1094px;
    margin: auto;
    display: flex;

}



.text_more_productBrend a {
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

/* #0071BC */
color: #006FE6;

}




