.banner1 {
  height: 300px;
  width: 1120px;
  margin: auto;
  border-radius: 10px;
  background: #DDE1E6;
  display: flex;
  margin-bottom: 24px;
}

.text-Box_banner1 {
  margin: 94px 37px 0 146px;

}
.text_Banner1_Heading {
  margin-bottom: 8px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #202329;
}


.text_Banner1_Paragraph{
 font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
}

.image-Box_banner1 {
  margin-top: 30px;
}