.text_Card_Heading {
    width: 248px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.headingCard {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.carusel-Box1 {

    width: 1120px !important;
    display: flex !important;
    flex-wrap: wrap;
    margin-right: 20px;
    justify-content: space-between !important;
  }


.card_Product {
  margin-bottom: 24px;
  display: flex;
  width: 1120px;
  margin: auto;
  justify-content: space-between;
}



.card_Product1 {
  padding-bottom: 20px;
  display: flex;
  width: 1120px;
  margin: auto;
  justify-content: space-between;
}

.card{ 
  border: 1px solid rgba(221, 225, 230, 1);
  width: 262px !important; 
  height: 522px !important;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-body {
  margin-left: 20px;
}

.sale {
  padding-left: 13px; 
  width: 49px; 
  height: 24px; 
  margin-left: 6px;
  margin-top: 6px;
  background: #F10B34; 
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  /* identical to box height, or 93% */
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #FFFFFF */
  color: #FFFFFF;
}  

.newProduct {
  padding-left: 13px; 
  width: 82px; 
  height: 24px; 
  margin-left: 6px;
  margin-top: 6px;
  background: #0071BC; 
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  /* identical to box height, or 93% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #FFFFFF */
  color: #FFFFFF;
}
.HitProduct {
  padding-left: 14px; 
  width: 45px; 
  height: 24px; 
  margin-left: 6px;
  margin-top: 6px;
  background: #FF7D05;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  /* identical to box height, or 93% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #FFFFFF */
  color: #FFFFFF;
}
.sale20 {
  padding-left: 13px; 
  width: 49px; 
  height: 24px; 
  margin-left: 6px;
  margin-top: 6px;
  background: #F10B34; 
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  /* identical to box height, or 93% */
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #FFFFFF */
  color: #FFFFFF;
}  

.image_Card-box1 {
  width: 262px;
  height: 224px;
  left: calc(50% - 224px/2);
  top: calc(50% - 224px/2);
  background: url("../image/image 19.svg") no-repeat;
  background-position: center;
}

.image_Card-box2 {
  width: 262px;
  height: 224px;
  left: calc(50% - 224px/2);
  top: calc(50% - 224px/2);
  background: url("../image/image 24.svg") no-repeat;
  background-position: center;
}

.image_Card-box3 {
  width: 262px;
  height: 224px;
  left: calc(50% - 224px/2);
  top: calc(50% - 224px/2);
  background: url("../image/image 25.svg") no-repeat;

   background-position: center;
}
.card-heading-text {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
}

.card-text1 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
  margin-bottom: 18px;
}
.card-text2 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
  margin-bottom: 51px;
}
.card-text4{
  font-family: Proxima Nova;
 font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
  margin-bottom: 18px;
}
.price {
   display: flex;
   align-items: baseline;
    margin-bottom: 13px;
 }
}

.new_Price {
  height: 20px;
  width: 59px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  /* #0AA245 */
  color: #0AA245;
}
.old_price {
  display: flex;
  height: 11px;
  width: 51px;
  left: 86px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 107% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #70798E */
  color: #70798E;
}
.old_Cash {
    position: absolute;
    margin-left: 4px;

}
 .size {
  width: 222px;
  height: 45px;
  margin-bottom: 17px;
 }

 .text_Size {
    float: left;
    margin-right: 20px;
 }

 button.size_Choose {
  width: 35px; 
  margin-right: 3px;
  margin-bottom: 4px;
  height: 20px;
  background: #F4F7FB;
/* #DDE1E6 */
  border: 1px solid #DDE1E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  /* identical to box height, or 127% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #969BA8;
 }

.product_Code{
 display: flex;
}

.text_Code {
  margin-right: 6px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
}

.number_Code {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #70798E */
  color: #70798E;
}


.button_Box {
     display: flex;
}


.by_Product {
  display: flex;
 height: 32px;
 width: 178px;
 border-radius: 10px;
 background: #0AA245;
 border: none;
 margin-right: 10px;
 align-items: center;
 justify-content: center;


}
.by_Product :hover {
  cursor: pointer;
}
.by_Basket_Image {

}

.by_Basket_Text {
  margin-left: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #FFFFFF */
  color: #FFFFFF;
}

.love_Product {
  background: #F4F7FB;
  height: 32px;
  width: 32px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
.love_Product :hover {
  cursor: pointer;
}
.whithLove {
  display: none
}

.love_Product :hover > .whithLove{
  display: block;
}

.carusel {
  margin-bottom: 20px;
  padding-top: 32px;
  width: 66px;
  height: 16px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
}

.activ_Carusel {
  width: 12px;
  height: 12px;
  background: #0AA245;
  /* #0AA245 */
  border: 1px solid #0AA245;
  box-sizing: border-box;
  border-radius: 10px;
}

.no_acntiv_Carusel{
  width: 8px;
  height: 8px;
  border: 2px solid #0AA245;
  box-sizing: border-box;
  border-radius: 10px;
}
.more_Product {
    display: flex;
    width: 1120px;
    margin: auto;
    margin-bottom: 70px;
}
.text_more_product {
  margin-right: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #0071BC */
  color: #006FE6;
}

.mask_Right {
  width: 24px;
  height: 24px;
 color: rgba(0, 111, 229, 1);

}

.more_newProduct {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 1120px;
  margin: auto;
  margin-bottom: 60px;
  border-radius: 10px;
  background: #FFFFFF;
  /* #DDE1E6 */
  border: 2px solid #DDE1E6;
  box-sizing: border-box;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;

  /* #70798E */
  color: #70798E;
}







