.form {
  height: 232px;
   width: 100%px;
  margin: auto;
  background: url("../image/Group 64.svg") rgba(0, 111, 229, 1) repeat;
  background-size: cover;
}
.keep_Abrest {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #FFFFFF */
  color: #FFFFFF;
}

.news_Keep {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #FFFFFF */
  color: #FFFFFF;

}
.common_box { 

    align-items: center;
    padding-top: 30px;
    width: 832px;
    margin: auto;
    display: flex;
    justify-content: space-between;
 }
 .form_Box {
  display: flex;
  justify-content: space-between;
 }
 .text_Form {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: bottom;
    height: 48px;
    width: 256px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    opacity: unset;
    border: 1px solid #DDE1E6;
    box-sizing: border-box;


 }

 .submit {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  height: 48px;
  width: 256px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  background: #FFFFFF;
  color: #006FE6;
  border: none;

}
.submit:hover {
  box-shadow: inset 0px -20px 20px #ffffff;
}
.submit:active {
  margin-top: 1px;
  margin-bottom: -1px;
  zoom: 1;
}
.submit:focus {
  outline:none;
} 
.target_Blank {
    margin-left: 12px;
    height: 38px;
    width: 228px;


}

input::-webkit-input-placeholder { 
  padding-left: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* #DDE1E6 */
  color: #DDE1E6;
}

input::-moz-placeholder { 
  padding-left: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* #DDE1E6 */
  color: #DDE1E6; 
}

input[type="checkbox"] {
  height: 24px;
  width: 24px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

  
}
.input_checkbox {
    margin-top: 6px;
    display: flex;
    align-items: center;
    height: 38px;
    width: 273px;
}


.input_checkbox  a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}



input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: flex;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}



input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 5px;
    width: 11px;
    height: 8px;
    border-radius: 1px;
    border-left: 4px solid  #0071BC;
    border-bottom: 4px solid #0071BC;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}




input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}










