.icons {
  height: 118px;
  width: 1120px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 65px;


}

.icons_Box-1 {
     text-align: center;
}
.icons1 {
}

.icons_Text-1 {
  padding-top: 22px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;

}